.content {
  background-color:white;
}

.content p {
  font-family:"Ariel", sans-serif;
  color:black;
}

img {
  width:100%;
}
.tableh th {
  border: 1px solid black;
}

.tabled td {
  border: 1px solid black;
}

